hr {
 clear:both;
 margin-bottom: 0px;
 border: 0;
 height: 6px;
 background-image: linear-gradient(to right, white, transparent, white),
                   linear-gradient(transparent, rgba(0,0,0,0.95) 150%);
 background-image: -moz-linear-gradient(to right, white, transparent, white),
                   -webkit-linear-gradient(transparent, rgba(0,0,0,0.75) 150%);
 background-image: -ms-linear-gradient(to right, white, transparent, white),
                   -webkit-linear-gradient(transparent, rgba(0,0,0,0.55) 150%);
}