{% extends "base.html" %}
{% block title %} {{ book.title }} | Книжный интернет-магазин  {% endblock title%}
{% block content %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center mx-auto">
                <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0 rounded-2" src="{{ book.cover_image.url }}" alt="..." /></div>
                <div class="col-md-7">
                    <div class="small mb-1">Издатель: {{ book.publisher }}</div>
                    <h1 class="display-5 fw-bolder">{{ book.title }}</h1>
                    <h2 class="fw-bolder text-secondary">{{ book.author }}</h2>
                    <div class="fs-3 mb-4">
                        <span class="text-decoration-line-through">{{ book.price|add:60 }} ₽</span>
                        <span>{{ book.price }} ₽</span>
                    </div>
                    <p class="lead">{{ book.description }}</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
                        <a href="{% url 'add_to_cart' book.id %}" class="btn btn-light btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Добавить в корзину
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}