{% extends "base.html" %}
{% block title %} Бумажный Остров | Книжный интернет-магазин  {% endblock title%}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Читайте со вкусом</h1>
                <p class="lead fw-normal text-white-50 mb-0">Только на нашем сайте. Огромный выбор книг любого жанра.</p>
            </div>
        </div>
    </header>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for book in books %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="mx-auto mt-3 rounded-3" width="200" src="{{ book.cover_image.url }}" alt="{{ book.title }}">
                        <hr class="hr mx-3">
                        <!-- Product details-->
                        <div class="card-body p-1">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ book.title }}</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                {{ book.price }} ₽
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Добавить в корзину</a></div>
                            <div class="text-center mt-2"><a class="btn btn-outline-dark mt-auto" href="#">В избранное <i class="bi bi-heart-fill text-danger"></i></a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <h2>Динамический список</h2>
    <p>В магазине есть следующие товары:</p>
    <ul>
        <li><strong>Всего книг: </strong>{{ num_books }}</li>
        <li><strong>Книг в наличии: </strong>{{ num_books_available }}</li>
        <li><strong>Авторов: </strong>{{ num_authors }}</li>
    </ul>

{% endblock content %}